<div class="col-12 col-sm-12 col-lg-3 p-none m-0 sidebar">
  <div class="p-3 text-center">
    <a href="/admin/profile/" class="d-block">
      <i class="fas fa-user fa-2x"></i>
    </a>
    <span class="d-block py-2 text-capitalize">
      {{user.userName}} ({{user.currentRole}})
    </span>
  </div>

  <ul class="navbar-nav px-3">
    <li class="nav-item">
      <a href="/admin/" class="nav-link text-uppercase font-weight-bold text-light">
        <i class="fas fa-th mr-2 orange"></i>
        dashboard
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin/fees/" class="nav-link text-uppercase font-weight-bold text-light">
        <i class="fas fa-money-bill-wave-alt mr-2 orange"></i>
        fees
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin/payments/" class="nav-link text-uppercase font-weight-bold text-light">
        <i class="fas fa-money-check mr-2 orange"></i>
        payments
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin/students/" class="nav-link text-uppercase font-weight-bold text-light">
        <i class="fas fa-users mr-2 orange"></i>
        students
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin/departments/" class="nav-link text-uppercase font-weight-bold text-light">
        <i class="fas fa-graduation-cap mr-2 orange"></i>
        departments
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin/admins/" class="nav-link text-uppercase font-weight-bold text-light">
        <i class="fas fa-user-shield mr-2 orange"></i>
        manage admins
      </a>
    </li>

  </ul>
</div>