<footer class="container-fluid py-3 bg-gray main-footer">
  <div class="row align-items-center">
    <div class="col-11 col-md-4 mx-auto">
      <h5 class="text-uppercase font-weight-bold">Services</h5>
      <p>web fees payment</p>
    </div>

    <div class="col-11 col-md-4 mx-auto">
      <h5 class="text-uppercase font-weight-bold">Card Supports</h5>
      <p>master card & visa card</p>
    </div>

    <div class="col-11 col-md-4 mx-auto">
      <h5 class="text-uppercase font-weight-bold">Social Media</h5>
      <div class="">
        <a href="" class="text-primary mr-1 btn">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="" class="text-info mr-1 btn">
          <i class="fab fa-twitter fa-2x"></i>
        </a>

        <a href="" class="text-danger btn">
          <i class="fab fa-instagram fa-2x"></i>
        </a>

        <a href="https://wa.me/08109000900" class="text-success btn">
          <i class="fab fa-whatsapp fa-2x"></i>
        </a>

        <a href="" class="text-danger btn">
          <i class="fab fa-youtube fa-2x"></i>
        </a>

      </div>
    </div>
  </div>

  <div class="col-12 text-center">
    <p>web app developed with <i class="fas fa-heart text-danger"></i> by me. all &copy; copyrights reserved, since 2020.</p>
  </div>
</footer>