<div class="col-12 col-sm-12 col-md-3 p-none m-0 sidebar">
  <div class="p-3 text-center">
    <a href="/student/profile/" class="d-block">
      <i class="fas fa-user fa-2x"></i>
    </a>
    <span class="d-block py-2 text-uppercase">
      {{user.fullName}}
    </span>
  </div>

  <ul class="navbar-nav px-3">
    <li class="nav-item">
      <a href="/student/" class="nav-link text-uppercase font-weight-bold text-light">
        <i class="fas fa-th mr-2 orange"></i>
        dashboard
      </a>
    </li>

    <li class="nav-item">
      <a href="/student/receipts/" class="nav-link text-uppercase font-weight-bold text-light">
        <i class="fas fa-money-bill-wave-alt mr-2 orange"></i>
        my reciepts
      </a>
    </li>

    <li class="nav-item">
      <a href="/student/fees/" class="nav-link text-uppercase font-weight-bold text-light">
        <i class="fas fa-money-check mr-2 orange"></i>
        fees
      </a>
    </li>


  </ul>
</div>