<div class="container-fluid">
  <div class="row py-2">
    <div class="col-8 mx-auto text-center">
      <i class="fas fa-comment-alt fa-3x orange"></i>
      <h4>Let's Connect</h4>
      <p>We would love to hear from you</p>
    </div>

    <div class="col-10 mx-auto">
      <div class="row">
        <div class="col-11 col-sm-6 mx-auto" style="position: relative;" id="contact-us">
          <div class="col-5 mx-auto alert hidden" id="contact-msg"></div>
          <form action="" method="post" id="contact-us-form">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="firstName" class="mb-0">
                    First Name
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" name="firstName" id="firstName" class="form-control" />
                </div>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="lastName" class="mb-0">
                    Last Name
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" name="lastName" id="lastName" class="form-control" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="emailAddress" class="mb-0">
                Email Address
                <span class="text-danger">*</span>
              </label>
              <input type="email" name="emailAddress" id="emailAddress" class="form-control" />
            </div>

            <div class="form-group">
              <label for="message" class="mb-0">
                Message
                <span class="text-danger">*</span>
              </label>
              <textarea name="message" id="message" rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group text-center">
              <button class="btn btn-success">
                send message
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </form>
        </div>

        <div class="col-12 col-sm-6 mx-auto">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15890.208251615895!2d6.9505913!3d5.3323288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x447d12b93de81ca0!2sImo%20State%20Polytechnic!5e0!3m2!1sen!2sng!4v1586790114300!5m2!1sen!2sng"
            style="border:0;width: 100%!important; height: 300px;" frameborder="0" allowfullscreen=""
            aria-hidden="false" tabindex="0"></iframe>

          <p class="">
            <i class="fas fa-globe green mr-2"></i>
            web address:
            <a href="imopoly.edu.ng">imopoly.edu.ng</a>
          </p>
          <p class="d-flex align-items-center">
            <i class="fas fa-phone-alt green mr-2"></i>
            call:
            <a href="tel:08000000001"> 08000000001</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>