<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <div class="header">
        <div class="hero-text" data-aos="zoom-in" data-aos-delay="200">

          <h1 class="text-uppercase">Fees payment portal</h1>
          <h5 class="mb-3">seamless transaction</h5>
          {{#if user}}
          {{else}}
          <div>
            <a href="/signup/" class="ux-btn-full mr-2 font-weight-bold">
              register
            </a>

            <a href="/signin/" class="ux-btn-ghost font-weight-bold">
              login
            </a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="row py-3 bg-gray">

    <div class="col-12 text-center title">
      <h3>
        <i class="fas fa-user-shield fa-2x green"></i>
        Secured Transaction
      </h3>
      <p class="text-muted">
        We ensure that our platform is secured and your web transactions are seamless.
      </p>
    </div>

    <div class="col-11 col-sm-6 col-md-4 mx-auto text-center">
      <h5>
        <i class="fas fa-shield-alt fa-2x green"></i>
        Card Security
      </h5>
      <p>To ensure your credit/debit is always secured, we ensured that your card information is not stored in our
        database.
      </p>
    </div>

    <div class="col-11 col-sm-6 col-md-4 mx-auto text-center">
      <h5>
        <i class="fas fa-file-signature fa-2x green"></i>
        Transaction transparency
      </h5>
      <p>All charges included in the transaction process are clearly stated.
      </p>
    </div>

    <div class="col-11 col-sm-6 col-md-4 mx-auto text-center">
      <h5>
        <i class="fas fa-clock fa-2x green"></i>
        24/7 Transaction
      </h5>
      <p>The platform is always available, rendering 24hrs services to you our esteemed customer.
      </p>
    </div>

  </div>

  <div class="row py-3">
    <div class="col-11 col-md-6 mx-auto">
      <img src="/src/img/mobile.png" alt="mobile" class="img-fluid" data-aos='fade-up'
        data-aos-delay="500"/>
    </div>

    <div class="col-11 col-md-6 mx-auto">
      <h3 class="text-muted text-center">
        Payment Process
      </h3>

      <div class="">
        <ul>
          <li class="py-2" data-aos="zoom-in" data-aos-delay="200">
            <a href="/signup/" class="orange font-weight-bold">register</a>
            if you don't have account or <a href="/signin/" class="orange font-weight-bold"> sign in </a> if you already
            have an account.
          </li>
          <li class="py-2" data-aos="zoom-in" data-aos-delay="200">
            Goto to <span class="green font-weight-bold">dashboard</span>
          </li>
          <li class="py-2" data-aos="zoom-in" data-aos-delay="200">On the sidebar click on fees, the fees page will open</li>
          <li class="py-2" data-aos="zoom-in" data-aos-delay="200">select any fee, from the list</li>
          <li class="py-2" data-aos="zoom-in" data-aos-delay="200">on the right pane click on make payment</li>
          <li class="py-2" data-aos="zoom-in" data-aos-delay="200">on the make payment page click on continue</li>
          <li class="py-2" data-aos="zoom-in" data-aos-delay="200">enter your card details on the popup menu and click on pay</li>
          <li class="py-2" data-aos="zoom-in" data-aos-delay="200">Thanks</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="row card-support bg-black">
    <div class="col-11 col-md-8 mx-auto text-center mb-1">
      <h3 class="font-weight-bold text-uppercase text-light">Card Support</h3>
      <div class="text-light">
        Payments can be performed on this platform using the cards below:
      </div>
    </div>

    <div class="col-12">
      <div class="carousel slide" data-ride="carousel" id="slider">
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <img src="/src/img/master-card.png" alt="master card" />

            <div class="carousel-caption font-weight-bold" style="position: absolute; bottom: 0px;">
              MASTER CARD
            </div>
          </div>

          <div class="carousel-item text-center">
            <img src="/src/img/visa-card.png" alt="visa card" />
            <div class="carousel-caption font-weight-bold" style="position: absolute; bottom: 0px;">
              VISA CARD
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>