<div class="container-fluid">
  {{>_studentSidebar}}
  <div class="col-12 col-md-9 col-lg-10 ml-auto">

    <div class="row py-2">
      <div class="col-12 col-md-9 mx-auto">
        <div class="card">
          <div class="card-header bg-gray">
            <h5 class="card-title d-flex justify-content-between align-items-center">
              <span>
                Password Reset
              </span>
              <i class="fas fa-undo fa-2x orange"></i>
            </h5>
          </div>
          <div class="card-body">

          <form action="" method="POST" id="register-form">
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="New password" id="password" />
            </div>
            <div class="form-group">
                <input type="password" name="" class="form-control" placeholder="Confirm new password" id="confirm-password" />
            </div>

            <div class="form-group">
                <button class="ux-btn-ghost">
                  save
                  <i class="fas fa-save"></i>
              </button>
            </div>

          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>